:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;

    --color-bg-completed: #f2f9e1;
    --color-bg-inprogress: #ffe9cc;
    --color-bg-pending: #ffeccc;
    --color-bg-cancelled: #f7ddd9;

    --color-completed: #4d7111;
    --color-inprogress: #ff7b00;
    --color-pending: #ffa813;
    --color-cancelled: #c2402a;
}

body {
    font-family: "Roboto", sans-serif;
}

label {
    font-size: 16px;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: var(--color-orange);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgb(31, 75, 44, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* REQUEST DETAILS POPUP*/
.popup {
    width: 360px;
    height: 710px;
    background: var(--color-cream);
    padding: 24px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    justify-content: center;
    position: relative;
}

.popup h2 {
    text-align: center;
}

/* CIRCLE IMAGE CONTAINER */
.circle {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-color: var(--color-orange);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}

/* FORM INPUT CONTAINER*/
.form-row-container {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.card-field-nr,
.card-field-wq,
.card-field-dt,
.card-field-t {
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.card-field-nr,
.card-field-dt,
.card-field-t {
    gap: 24px;
    align-items: center;
}

.card-field-wq {
    flex-direction: column;
}

.card-field-nr label,
.card-field-wq label,
.card-field-dt label,
.card-field-t label {
    min-width: 80px;
    font-size: 14px;
}

/* Inputs and selects */
.card-field-nr input,
.card-field-wq input,
.card-field-dt input,
.card-field-t select {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-accept,
.btn-decline {
    width: 100px;
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.btn-accept {
    background: var(--color-cream);
    color: var(--color-orange);
    border: 2px solid;
    border-color: var(--color-orange);
}

.btn-decline {
    background: var(--color-orange);
    color: white;
}

/* INDIVIDUAL (SMALL) CONTAINER: SCHED STATUS */
.sched-status-completed,
.sched-status-inprogress,
.sched-status-pending,
.sched-status-cancelled {
    width: 90px;
    font-size: 12px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.card-sched-status {
    display: block;
    padding: 0.25rem 1rem;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 4px;
}

/* COMPLETED CONTAINER */
.sched-status-completed {
    background-color: var(--color-completed);
    color: white;
}

.card-status-bg-completed {
    background-color: var(--color-bg-completed);
    border-color: var(--color-completed);
}

/* IN PROGRESS CONTAINER */
.sched-status-inprogress {
    background-color: var(--color-inprogress);
}
.card-status-bg-inprogress {
    background-color: var(--color-bg-inprogress);
    border-color: var(--color-inprogress);
}

/* PENDING CONTAINER */
.sched-status-pending {
    background-color: var(--color-pending);
}
.card-status-bg-pending {
    background-color: var(--color-bg-pending);
    border-color: var(--color-pending);
}

/* CANCELLED CONTAINER */
.sched-status-cancelled {
    background-color: var(--color-cancelled);
    color: white;
}
.card-status-bg-cancelled {
    background-color: var(--color-bg-cancelled);
    border-color: var(--color-cancelled);
}