:root {
  --color-dark-green: #1F4B2C;
  --color-bg-orange: #FF9100;
  --color-light-olive: #D5ED9F;
  --color-bg-beige: #FFFBE6;
  --color-link: #E68200;
  --color-button-start: #1F4B2C;
  --color-button-end: #4D7111;
  --color-text-input: #AFAA8D;
  --color-box-input: #DFF1B6;
}

h1,
p {
  color: #1F4B2C;
}


body {
  background-color: var(--color-bg-beige);
  font-family: 'Roboto', sans-serif;
}

.top-bar {
  height: 20vh;
  background-color: var(--color-bg-orange);
}

.bottom-card {
  background-color: var(--color-bg-beige);
  min-height: 85vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateY(-5vh);
  /* box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); */
}

.btn-green-gradient {
  background: linear-gradient(90deg, var(--color-button-start) 0%, var(--color-button-end) 100%);
  color: white;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  transition: transform 0.1s ease;
}

.btn-orange-gradient:hover {
  transform: scale(1.02);
}

.form-input-group {
  display: flex;
  align-items: center;
  background-color: var(--color-box-input);
  border-radius: 8px;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.form-input-group input {
  border: none;
  outline: none;
  background: none;
  flex-grow: 1;
  padding-left: 0.75rem;
  color: var(--color-dark-green);
}

.form-input-group input::placeholder {
  color: var(--color-text-input);
}

.forgot-link,
.signup-link,
.signin-link,
.try-link {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.1s;
}

.try-link {
  text-align:center;
}


.icons {
  color: var(--color-text-input);
}