:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;
}

body {
    font-family: "Roboto", sans-serif;
}

label {
    font-size: 16px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgb(31, 75, 44, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* REQUEST DETAILS POPUP*/
.popup {
    width: 360px;
    height: 710px;
    background: var(--color-cream);
    padding: 24px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    justify-content: center;
}

.popup h2 {
    text-align: center;
}

/* CIRCLE IMAGE CONTAINER */
.circle {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-color: var(--color-orange);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}

/* FORM INPUT CONTAINER*/
.form-row-container {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.card-field-nr,
.card-field-wq,
.card-field-dt,
.card-field-t {
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.card-field-nr,
.card-field-dt,
.card-field-t {
    gap: 24px;
    align-items: center;
}

.card-field-wq {
    flex-direction: column;
}

.card-field-nr label,
.card-field-wq label,
.card-field-dt label,
.card-field-t label {
    min-width: 80px;
    font-size: 14px;
}

/* Inputs and selects */
.card-field-nr input,
.card-field-wq input,
.card-field-dt input,
.card-field-t select {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.action-buttons {

}

.btn-accept {

}

.btn-decline {
    
}