:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;
    --color-link: #e68200;

    --color-bg-completed: #f2f9e1;
    --color-bg-inprogress: #ffe9cc;
    --color-bg-pending: #ffeccc;
    --color-bg-cancelled: #f7ddd9;

    --color-completed: #4d7111;
    --color-inprogress: #ff7b00;
    --color-pending: #ffa813;
    --color-cancelled: #c2402a;
}

body {
    font-family: "Roboto", sans-serif;
}

.row-wel {
    margin-bottom: 4px;
    margin-left: 4px;
}

.row-con {
    margin: 4px;
}

.row-sched {
    display: flex;
    gap: 8px;
    padding-right: 16px;
}

.card-top,
.card-mid,
.card-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0.75rem;
}

.card-top {
    height: 150px;
    color: white;
    background: linear-gradient(
        to bottom,
        var(--color-mid-green),
        var(--color-orange)
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-mid {
    height: 178px;
}

.card-bot {
    height: 240px;
    background-color: var(--color-dark-green);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-top-title,
.card-sched-text-date {
    align-self: flex-start;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: auto;
    padding: 0px;
}

.card-sched-text-date {
    margin-top: 8px;
    margin-left: 8px;
}

.card-data-box-area,
.card-data-box-truck {
    margin-top: 56px;
    background-color: var(--color-cream);
    color: var(--color-dark-green);
    text-align: center;
    font-size: 0.75rem;
    border-radius: 0.5rem;
}

.card-data-box-area {
    padding: 1rem;
}

.card-data-box-truck {
    padding: 0.5rem;
}

.card-data-box-sched {
    height: 125px;
    background-color: var(--color-mid-green);
    color: var(--color-light-olive);
    text-align: center;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card-sched-text-ba,
.card-sched-text-status {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: auto;
    padding: 0;
    text-align: center;
}

.sched-status-completed {
    width: 90px;
    background-color: var(--color-bg-completed);
    color: var(--color-pending);
    border-radius: 10px;
    font-weight: 400;
}

.sched-status-inprogress {
    width: 90px;
    background-color: var(--color-bg-inprogress);
    color: var(--color-pending);
    border-radius: 10px;
    font-weight: 400;
}

.sched-status-pending {
    width: 90px;
    background-color: var(--color-bg-pending);
    color: var(--color-pending);
    border-radius: 10px;
    font-weight: 400;
}

.sched-status-cancelled {
    width: 90px;
    background-color: var(--color-bg-cancelled);
    color: var(--color-pending);
    border-radius: 10px;
    font-weight: 400;
}

.card-sched-status {
    display: block;
    padding: 0.25rem 1rem;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 4px;
}

.card-data-box-req {
    height: 70px;
    background-color: var(--color-cream);
    font-size: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.btn-details {
    width: 100px;
    height: 20px;
    background: var(--color-orange);
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.btn-details,
.card-req-text-date{
    align-self: flex-end;
}
