:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;
}

body {
    font-family: "Roboto", sans-serif;
}

.row-top,
.row-mid {
    margin-bottom: 2px;
    margin-left: 8px;
}

.row-top {
    font-size: 20px;
}

.row-con {
    margin: 2px 0;
}

/* MAIN CONTAINERS */
.card-top,
.card-mid,
.card-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0.6rem;
}

/* TOP CONTAINER */
.card-top {
    background-image: linear-gradient(to top, #ff9100, #FFB24D);
    height: 180px;
    padding: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* MID CONTAINER */
.card-mid {
    background-image: linear-gradient(to top, #4d7111, #74A12A);
    height: 135px;
    padding: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* BOT CONTAINER */
.card-bot {
    height: 180px;
    background-color: var(--color-dark-green);
    padding: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* ================================================================== */
/* TOP CONTAINER */

/* MAIN CONTAINERS */
.carousel-item {
    padding: 0.2rem 0;
}

.carousel-item .row {
    margin-left: 0;
    margin-right: 0;
}

/* ICON CONTAINER */
.circle-top,
.circle-mid {
    flex-shrink: 0;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TOP ICON CONTAINER */
.circle-top {
    width: 56px;
    height: 56px;
    background-color: var(--color-cream);
}

/* MID ICON CONTAINER */
.circle-mid {
    width: 48px;
    height: 48px;
    background-color: var(--color-light-olive);
}

/* TOP WASTE IMAGE */
.waste-img-top {
    width: 40px;
    height: 40px;
}

/* MID WASTE IMAGE */
.waste-img-mid {
    width: 32px;
    height: 32px;
}

/* CIRCLE AND DATE */
.card-top-circle-date,
.card-mid-circle-date {
    display: flex;
    justify-content: space-between;
}

/* DATE */
.card-top-text-date,
.card-mid-text-date {
    font-weight: bold;
}

/* NAME */
.card-top-title,
.card-mid-title {
    font-weight: bold;
    padding: 8px 6px 0 0;
}

/* TOP WASTE TYPE AND QTY */
.card-top-text {
    font-size: 11px;
}

/* MID WASTE TYPE AND QTY */
.card-mid-text {
    font-size: 10px;
}

/* MID INFO */
.card-mid-text-date,
.card-mid-title,
.card-mid-text {
    color: white;
}

/* VIEW DETAILS BUTTON */
.card-top-button,
.card-mid-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* TOP BUTTON */
.card-top-button a {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    background: var(--color-mid-green);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
     position: relative;
    pointer-events: auto;
}

/* MID BUTTON */
.card-mid-button a {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 5px;
    background: var(--color-orange);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* TOP CAROUSEL BUTTON - PREV*/
.top-carousel-control-prev,
.mid-carousel-control-prev {
    left: 5px;
}

/* TOP CAROUSEL BUTTON - NEXT*/
.top-carousel-control-next,
.mid-carousel-control-next {
    right: 5px;
}

/* CAROUSEL BUTTON - PREV/NEXT */
.top-carousel-control-prev, .top-carousel-control-next,
.mid-carousel-control-prev, .mid-carousel-control-next{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

/* TOP CAROUSEL BUTTON - PREV/NEXT */
.top-carousel-control-prev,
.top-carousel-control-next {
    opacity: 0;
    transition: opacity 0.5s;
}

#topCarousel:hover .top-carousel-control-prev,
#topCarousel:hover .top-carousel-control-next {
    opacity: 1;
    transition: opacity 0.5s;
}

#topCarousel {
    height: 100%;
    position: relative;
    padding-bottom: 22px;
}

#topCarousel .carousel-indicators {
    position: absolute;
    bottom: 6px;
    margin-bottom: 0;
}

#topCarousel .carousel-indicators [data-bs-target] {
    background-color:  #FFB24D;
    opacity: 0.3;
}

#topCarousel .carousel-indicators .active {
    background-color: var(--color-orange);
    opacity: 1;
}

/* MID CAROUSEL BUTTON - PREV/NEXT */
.mid-carousel-control-prev,
.mid-carousel-control-next {
    opacity: 0;
    transition: opacity 0.5s;
}

#midCarousel:hover .mid-carousel-control-prev,
#midCarousel:hover .mid-carousel-control-next {
    opacity: 1;
    transition: opacity 0.5s;
}

#midCarousel {
    height: 100%;
    position: relative;
    padding-bottom: 22px;
}

#midCarousel .carousel-indicators {
    position: absolute;
    bottom: 6px;
    margin-bottom: 0;
}

#midCarousel .carousel-indicators [data-bs-target] {
    background-color: var(--color-light-olive);
    opacity: 0.3;
}

#midCarousel .carousel-indicators .active {
    background-color: var(--color-mid-green);
    opacity: 1;
}

/* ================================================================== */
/* CARD REQ CONTAINER */
.card-req {
    flex: 1;                  
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

/* INDIVIDUAL REQUEST CONTAINER */
.card-data-box-req {
    height: 40px;
    background-color: var(--color-cream);
    margin-bottom: 0.25rem;
    padding: 0.50rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
}

/* CIRCLE IMAGE CONTAINER */
.circle {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color-mid-green);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WASTE IMAGE */
.waste-img-bot {
    width: 120%;
    height: 120%;
    object-fit: contain;
}

/* REQUEST INFO CONTAINER */
.card-req-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

/* NAME TEXT */
.card-req-text-name {
    font-size: 16px;
    font-weight: bold;
}

/* WASTE TYPE/KILO TEXT */
.card-req-text-wk {
    font-size: 12px;
    line-height: 1;
}

/* REQUEST INFO RIGHT CONTAINER */
.card-req-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.20rem;
    margin-left: auto;
}

/* REQUEST DATE CONTAINER */
.card-req-text-date {
    font-size: 12px;
    margin: 0;
}

/* COMPLETED BUTTON */
.btn-completed {
    width: 100px;
    height: 13px;
    background: var(--color-mid-green);
    color: white;
    font-weight: 400;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
