:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;

    --color-bg-completed: #f2f9e1;
    --color-bg-inprogress: #ffe9cc;
    --color-bg-assigned: #ffeccc;
    --color-bg-cancelled: #f7ddd9;

    --color-completed: #4d7111;
    --color-inprogress: #ff7b00;
    --color-assigned: #ffa813;
    --color-cancelled: #c2402a;
}

body {
    font-family: "Roboto", sans-serif;
}

.row-wel {
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 20px;
}

.row-con {
    margin: 4px;
}

.row-sched {
    display: flex;
    gap: 8px;
    padding-right: 16px;
}

/* MAIN CONTAINERS */
.card-mid {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 0.6rem;
}
/*===================================================*/

.schedule-wrapper {
    max-width: 800px;
}

.task-card {
    flex: 1;
    width: 100%;
}

.sched-card {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    margin-bottom: 0.75rem;
}

.schedule-day {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

/* DATE COLUMN */
.date-col {
    width: 50px;
    text-align: center;
}

.date-col .day {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-orange);
}

.date-col .week {
    font-size: 12px;
    color: var(--color-orange);
}

.card-sched-status {
    padding: 0.10rem;
    border-radius: 20px;
    font-size: 0.65rem;
    font-weight: 500;
}


/*===================================================*/
/* INDIVIDUAL (MAIN) CONTAINER: SCHED STATUS BG */
.card-status-bg-completed,
.card-status-bg-inprogress,
.card-status-bg-assigned,
.card-status-bg-cancelled {
    width: 100%;
    min-height: 64px;
    padding: 10px;
    font-size: 0.75rem;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    border-left: 10px solid;
    box-sizing: border-box;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.10);
}

/* INDIVIDUAL (SMALL) CONTAINER: SCHED STATUS */
.sched-status-completed,
.sched-status-inprogress,
.sched-status-assigned,
.sched-status-cancelled {
    width: 100px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    align-items: flex-end;
}

/* SCHED TEXT: BRGY AND AREA */
.card-sched-text-ba {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
}

.card-sched-status {
    margin-left: auto;
    display: flex;
    align-self: baseline;
    text-align: center;
}

/* COMPLETED CONTAINER */
.sched-status-completed {
    background-color: var(--color-completed);
    color: white;
}

.card-status-bg-completed {
    background-color: var(--color-bg-completed);
    border-color: var(--color-completed);
}

/* IN PROGRESS CONTAINER */
.sched-status-inprogress {
    background-color: var(--color-inprogress);
}
.card-status-bg-inprogress {
    background-color: var(--color-bg-inprogress);
    border-color: var(--color-inprogress);
}

/* ASSIGNED CONTAINER */
.sched-status-assigned {
    background-color: var(--color-assigned);
}
.card-status-bg-assigned {
    background-color: var(--color-bg-assigned);
    border-color: var(--color-assigned);
}

/* CANCELLED CONTAINER */
.sched-status-cancelled {
    background-color: var(--color-cancelled);
    color: white;
}
.card-status-bg-cancelled {
    background-color: var(--color-bg-cancelled);
    border-color: var(--color-cancelled);
}
