:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;
}

body {
    font-family: "Roboto", sans-serif;
}

.row-wel {
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 20px;
}

.row-con {
    margin: 4px;
}

@media (min-width: 768px) {
  .carousel-inner {
    display: block;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 auto;;
    display: block;
  }
}

.carousel-inner{
    padding: 0;
}

.card{
    margin: .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    width: 180px;
    height: 200px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
