:root {
    --color-dark-green: #1f4b2c;
    --color-mid-green: #4d7111;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-cream: #fffbe6;

    --color-bg-completed: #f2f9e1;
    --color-bg-inprogress: #ffe9cc;
    --color-bg-pending: #ffeccc;
    --color-bg-cancelled: #f7ddd9;

    --color-completed: #4d7111;
    --color-inprogress: #ff7b00;
    --color-pending: #ffa813;
    --color-cancelled: #c2402a;
}

body {
    font-family: "Roboto", sans-serif;
}

.row-wel {
    margin-bottom: 4px;
    margin-left: 4px;
}

.row-con {
    margin: 4px;
}

/*===================================================*/
