:root {
    --color-cream: #fffbe6;
    --color-dark-green: #1f4b2c;
    --color-orange: #ff9100;
    --color-light-olive: #d5ed9f;
    --color-light-orange: #FFD399;
}

h1 {
    color: #1f4b2c;
    text-align: center;
}

body {
    background-image: var(--color-cream);
    font-family: "Roboto", sans-serif;
}

.top-bar,
.bottom-card {
  background-color: var(--color-cream);
}

.user-img {
    width: 100px;
    height: 100px;
}

.user-option.active {
    border: 4px solid var(--color-dark-green);
}

.user-resident-text,
.user-collector-text {
    font-weight: extrabold;
}

.card-user-resident,
.card-user-collector {
    min-height: 25vh;
    border-radius: 30px;
    margin: 32px;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.card-user-resident {
    background-color: var(--color-light-olive);
}
.card-user-resident:hover {
    background: linear-gradient(to top, #4d7111, #d5ed9f);
}

.card-user-collector {
    background-color: var(--color-light-orange);
}
.card-user-collector:hover {
    background: linear-gradient(to top, #ff9100, #ffe9cc);
}

.user-option.active {
    border: 4px solid transparent;
    border-color: var(--color-orange);
}

.submit-btn {
    background: linear-gradient(to left, #d5ed9f, #1f4b2c);
    color: #ffffff;
    width: 80%;
    margin: 20px auto;
    padding: 14px;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
    cursor: pointer;
}

.submit-btn:hover {
    background: linear-gradient(to right, #ffe9cc, #ff9100);
    color: var(--color-dark-green);
}
