:root {
  --color-dark-green: #1F4B2C;
  --color-light-olive: #D5ED9F;
  --color-link: #E68200;
  --color-button-start: #FF9933;
  --color-button-end: #F08000;
  --color-text-input: #AFAA8D;
  --color-box-input: #FFFBE6;
}

h1,
p {
  color: #1F4B2C;
}

body {
  background-color: var(--color-light-olive);
  font-family: 'Roboto', sans-serif;
}

.top-bar {
  height: 20vh;
  background-color: var(--color-dark-green);
}

.bottom-card {
  background-color: var(--color-light-olive);
  min-height: 85vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateY(-5vh);
  /* box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); */
}

.btn-orange-gradient {
  background: linear-gradient(180deg, var(--color-button-start) 0%, var(--color-button-end) 100%);
  color: white;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  transition: transform 0.1s ease;
}

.btn-orange-gradient:hover {
  transform: scale(1.02);
}

.form-input-group {
  display: flex;
  align-items: center;
  background-color: var(--color-box-input);
  border-radius: 8px;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.form-input-group input {
  border: none;
  outline: none;
  background: none;
  flex-grow: 1;
  padding-left: 0.75rem;
  color: var(--color-dark-green);
}

.form-input-group input::placeholder {
  color: var(--color-text-input);
}

.forgot-link,
.signup-link,
.signin-link {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.1s;
}

.icons {
  color: var(--color-text-input);
}

/* UPDATE PAGES */
.btn-duo-container {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 2rem;
}

.btn-save,
.btn-cancel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn-save {
  background: linear-gradient(180deg, var(--color-button-start) 0%, var(--color-button-end) 100%);
  color: var(--color-box-input);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-cancel {
  flex-grow: 1;
  background-color: var(--color-box-input);
  border: 4px solid var(--color-orange-light);
  color: var(--color-orange-dark);
  padding: 1rem 0;
  border-radius: 0.75rem;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-save:hover,
.btn-cancel:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}