body {
    font-family: "Roboto", sans-serif;
    background-color: #fffbe6;
}

.user-img {
    width: 120px;
    height: 120px;
}

.resident-card,
.collector-card {
    flex: 1;
    transform: scale(1);
    transition: transform 0.5s;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.resident-card {
    color: white;
    background-color: #4d7111;
}
.resident-card:hover {
    color: black;
    background: linear-gradient(to top, #4d7111, #d5ed9f);
}

.collector-card  {
    color: white;
    background-color: #ff9100;
}
.collector-card:hover {
    color: black;
    background: linear-gradient(to top, #ff9100, #ffe9cc);
}

.resident-card:hover,
.collector-card.hover {
    transform: scale(1.03);
}